{
    "openapi": "3.0.0",
    "info": {
        "title": "Fittingz API Documentation",
        "description": "REST API for fashion designers and tailoring businesses to manage clients, measurements, orders, and payments.\n\nAll endpoints require a Bearer token received from the `/api/v1/auth/login` endpoint (except authentication routes).",
        "contact": {
            "name": "Fittingz Developer Support",
            "url": "https://developers.fittingz.com",
            "email": "support@fittingz.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.fittingz.app",
            "description": "Production API Server"
        },
        {
            "url": "http://localhost:8000",
            "description": "Local Development Server"
        }
    ],
    "paths": {
        "/api/v1/auth/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Register a new user",
                "operationId": "b8d9e9efb082f562e3d0eca15e3f1297",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password",
                                    "password_confirmation",
                                    "business_name",
                                    "contact_phone",
                                    "business_address"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com",
                                        "maxLength": 255
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123",
                                        "minLength": 8
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "business_name": {
                                        "type": "string",
                                        "example": "Fittingz Tailoring",
                                        "maxLength": 255,
                                        "minLength": 2
                                    },
                                    "contact_phone": {
                                        "type": "string",
                                        "example": "+1234567890",
                                        "maxLength": 20,
                                        "minLength": 10
                                    },
                                    "business_address": {
                                        "type": "string",
                                        "example": "123 Fashion Ave",
                                        "maxLength": 500,
                                        "minLength": 5
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Registration successful. Verification code sent to email.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Registration successful. Please check your email for your verification code."
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "string",
                                                            "format": "uuid"
                                                        },
                                                        "business_name": {
                                                            "type": "string"
                                                        },
                                                        "email": {
                                                            "type": "string"
                                                        },
                                                        "email_verified_at": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "nullable": true
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "500": {
                        "description": "Registration failed"
                    }
                }
            }
        },
        "/api/v1/auth/verify-email": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Verify email address with a 4-digit code",
                "operationId": "d03c58da0331262e23537940b8d2f83f",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "code"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "code": {
                                        "description": "4-digit verification code sent to the email address",
                                        "type": "string",
                                        "pattern": "^\\d{4}$",
                                        "example": "0123",
                                        "maxLength": 4,
                                        "minLength": 4
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Email verified successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Email verified successfully. You can now log in."
                                        },
                                        "data": {
                                            "type": "object",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid or expired verification code"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/v1/auth/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Login user and return token",
                "operationId": "155d5f87d3c86875932d93ac765760a0",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Login successful"
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "string",
                                                            "format": "uuid"
                                                        },
                                                        "business_name": {
                                                            "type": "string"
                                                        },
                                                        "email": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "token": {
                                                    "description": "Bearer token for authenticated requests",
                                                    "type": "string"
                                                },
                                                "token_type": {
                                                    "type": "string",
                                                    "example": "Bearer"
                                                },
                                                "expires_in": {
                                                    "properties": {
                                                        "minutes": {
                                                            "type": "integer",
                                                            "example": 10080
                                                        },
                                                        "days": {
                                                            "type": "integer",
                                                            "example": 7
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid email or password"
                    },
                    "403": {
                        "description": "Email not yet verified"
                    },
                    "423": {
                        "description": "Account locked due to too many failed attempts"
                    }
                }
            }
        },
        "/api/v1/auth/resend-verification": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Resend email verification code",
                "operationId": "be2e0a4c08d3ef165acfc499d8c3620c",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Verification code sent or generic success if the account does not exist"
                    },
                    "400": {
                        "description": "This email address is already verified"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/v1/auth/forgot-password": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Send password reset code to email",
                "operationId": "5dd8d761ea81ab11531862ef9f55f530",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Generic success response (reset code sent if account exists; email not found is not disclosed to prevent enumeration)"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/v1/auth/verify-reset-code": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Verify password reset code",
                "operationId": "4fd8e6d9b4cf5187ad4f4a4f02302530",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "token"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "token": {
                                        "description": "4-digit reset code sent to the email address",
                                        "type": "string",
                                        "pattern": "^\\d{4}$",
                                        "example": "0123",
                                        "maxLength": 4,
                                        "minLength": 4
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Reset code verified"
                    },
                    "400": {
                        "description": "Invalid or expired reset code"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/v1/auth/reset-password": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Reset user password using verified reset code",
                "operationId": "6dfab0f290b298da51d66c8796dd8cd5",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "token",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "token": {
                                        "description": "4-digit reset code sent to the email address",
                                        "type": "string",
                                        "pattern": "^\\d{4}$",
                                        "example": "0123",
                                        "maxLength": 4,
                                        "minLength": 4
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "minLength": 8
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password reset successfully"
                    },
                    "400": {
                        "description": "Invalid or expired reset code"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/v1/auth/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Logout user and revoke current token",
                "operationId": "4a65c58a6a5380dbfe4b87bfe10c18c8",
                "responses": {
                    "200": {
                        "description": "Logged out successfully"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/auth/refresh": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Refresh access token",
                "operationId": "d2f10fcaec589e283287e36c2d0b8c05",
                "responses": {
                    "200": {
                        "description": "Token refreshed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Token refreshed successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "token": {
                                                    "description": "New bearer token",
                                                    "type": "string"
                                                },
                                                "expires_in": {
                                                    "properties": {
                                                        "minutes": {
                                                            "type": "integer",
                                                            "example": 10080
                                                        },
                                                        "days": {
                                                            "type": "integer",
                                                            "example": 7
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/auth/change-password": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Change account password",
                "operationId": "8e2a37d87400f5b0258d1c396ec8b65f",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "current_password",
                                    "new_password",
                                    "new_password_confirmation"
                                ],
                                "properties": {
                                    "current_password": {
                                        "type": "string",
                                        "format": "password"
                                    },
                                    "new_password": {
                                        "type": "string",
                                        "format": "password",
                                        "minLength": 8
                                    },
                                    "new_password_confirmation": {
                                        "type": "string",
                                        "format": "password"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password changed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Password changed successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "token": {
                                                    "description": "New bearer token",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Current password is incorrect"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/clients": {
            "get": {
                "tags": [
                    "Clients"
                ],
                "summary": "Get a paginated list of clients",
                "operationId": "ec431af31a7e11a8cfd2b11c7cb6d4c7",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search by name, email, or phone",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gender",
                        "in": "query",
                        "description": "Filter by gender",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Male",
                                "Female",
                                "Other"
                            ]
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Clients retrieved successfully"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "format": "uuid"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "email": {
                                                        "type": "string"
                                                    },
                                                    "phone": {
                                                        "type": "string"
                                                    },
                                                    "gender": {
                                                        "type": "string",
                                                        "enum": [
                                                            "Male",
                                                            "Female",
                                                            "Other"
                                                        ]
                                                    },
                                                    "orders_count": {
                                                        "type": "integer"
                                                    },
                                                    "measurements_count": {
                                                        "type": "integer"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Clients"
                ],
                "summary": "Create a new client",
                "operationId": "f6d953fa4f596e7673b91ee0148f5427",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Jane Smith",
                                        "maxLength": 255,
                                        "minLength": 2
                                    },
                                    "email": {
                                        "description": "Must be unique. Either email or phone is required.",
                                        "type": "string",
                                        "format": "email",
                                        "example": "jane.smith@example.com",
                                        "nullable": true,
                                        "maxLength": 255
                                    },
                                    "phone": {
                                        "description": "Must be unique. Either phone or email is required.",
                                        "type": "string",
                                        "example": "+1234567890",
                                        "nullable": true,
                                        "maxLength": 20,
                                        "minLength": 10
                                    },
                                    "gender": {
                                        "description": "Optional.",
                                        "type": "string",
                                        "example": "Female",
                                        "nullable": true,
                                        "enum": [
                                            "Male",
                                            "Female",
                                            "Other"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Client created successfully"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/clients/{client}": {
            "get": {
                "tags": [
                    "Clients"
                ],
                "summary": "Get client details",
                "operationId": "98043ea1aae745eeedb5a09792e7ce06",
                "parameters": [
                    {
                        "name": "client",
                        "in": "path",
                        "description": "Client UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Client retrieved successfully"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Client not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Clients"
                ],
                "summary": "Delete a client",
                "operationId": "1dee78387b743d88137588674ab6daf5",
                "parameters": [
                    {
                        "name": "client",
                        "in": "path",
                        "description": "Client UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Client deleted successfully"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Client not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Clients"
                ],
                "summary": "Update existing client",
                "operationId": "690010e1f0d1ebf0d454fa98779557cf",
                "parameters": [
                    {
                        "name": "client",
                        "in": "path",
                        "description": "Client UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Jane Smith Updated",
                                        "maxLength": 255,
                                        "minLength": 2
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "jane.updated@example.com",
                                        "maxLength": 255
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "+1234567890",
                                        "maxLength": 20,
                                        "minLength": 10
                                    },
                                    "gender": {
                                        "type": "string",
                                        "example": "Female",
                                        "enum": [
                                            "Male",
                                            "Female",
                                            "Other"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Client updated successfully"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Client not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/clients/{client}/profile": {
            "get": {
                "tags": [
                    "Clients"
                ],
                "summary": "Get full client profile including measurement summary",
                "operationId": "94718117ad618fb17d62e18b78ec3698",
                "parameters": [
                    {
                        "name": "client",
                        "in": "path",
                        "description": "Client UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Client profile retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "client": {
                                                    "type": "object"
                                                },
                                                "measurements": {
                                                    "properties": {
                                                        "default": {
                                                            "type": "object",
                                                            "nullable": true
                                                        },
                                                        "latest": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object"
                                                            }
                                                        },
                                                        "total_count": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Client not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/dashboard/stats": {
            "get": {
                "tags": [
                    "Dashboard"
                ],
                "summary": "Get overall business statistics",
                "operationId": "82ad3c1dc1fda29eb3dd7ac7ce8efbf5",
                "responses": {
                    "200": {
                        "description": "Dashboard stats retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Dashboard stats retrieved successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "clients": {
                                                    "properties": {
                                                        "total": {
                                                            "type": "integer",
                                                            "example": 42
                                                        },
                                                        "new_this_month": {
                                                            "type": "integer",
                                                            "example": 5
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "orders": {
                                                    "properties": {
                                                        "total": {
                                                            "type": "integer",
                                                            "example": 120
                                                        },
                                                        "pending_payment": {
                                                            "type": "integer",
                                                            "example": 10
                                                        },
                                                        "in_progress": {
                                                            "type": "integer",
                                                            "example": 25
                                                        },
                                                        "completed": {
                                                            "type": "integer",
                                                            "example": 60
                                                        },
                                                        "delivered": {
                                                            "type": "integer",
                                                            "example": 20
                                                        },
                                                        "cancelled": {
                                                            "type": "integer",
                                                            "example": 5
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "revenue": {
                                                    "description": "Amounts keyed by currency code (e.g. NGN, USD)",
                                                    "properties": {
                                                        "by_currency": {
                                                            "type": "object",
                                                            "example": {
                                                                "NGN": 85000,
                                                                "USD": 200
                                                            }
                                                        },
                                                        "paid_by_currency": {
                                                            "type": "object",
                                                            "example": {
                                                                "NGN": 72000,
                                                                "USD": 150
                                                            }
                                                        },
                                                        "outstanding_by_currency": {
                                                            "type": "object",
                                                            "example": {
                                                                "NGN": 13000,
                                                                "USD": 50
                                                            }
                                                        },
                                                        "this_month_by_currency": {
                                                            "type": "object",
                                                            "example": {
                                                                "NGN": 9500
                                                            }
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "payments": {
                                                    "properties": {
                                                        "this_month_by_currency": {
                                                            "type": "object",
                                                            "example": {
                                                                "NGN": 8200
                                                            }
                                                        },
                                                        "orders_with_balance": {
                                                            "type": "integer",
                                                            "example": 18
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/dashboard/recent-orders": {
            "get": {
                "tags": [
                    "Dashboard"
                ],
                "summary": "Get list of recently created orders",
                "operationId": "474dc523212c92037f6eb58fb3418bb6",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of orders to return (default 10)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Recent orders retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Recent orders retrieved successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "orders": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "example": 10
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/dashboard/pending-payments": {
            "get": {
                "tags": [
                    "Dashboard"
                ],
                "summary": "Get orders with outstanding balances, sorted by balance descending",
                "operationId": "fb488c720b1ab9ae5d207f52ac371927",
                "responses": {
                    "200": {
                        "description": "Pending payments retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Pending payments retrieved successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "orders": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "total_orders": {
                                                    "type": "integer",
                                                    "example": 18
                                                },
                                                "total_outstanding": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 13000
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/dashboard/upcoming-deliveries": {
            "get": {
                "tags": [
                    "Dashboard"
                ],
                "summary": "Get orders due for delivery within a given number of days",
                "operationId": "865c372456c16c6de973918a35e9474e",
                "parameters": [
                    {
                        "name": "days",
                        "in": "query",
                        "description": "Number of days ahead to look (default 7)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 7
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Upcoming deliveries retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Upcoming deliveries retrieved successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "orders": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "example": 4
                                                },
                                                "period": {
                                                    "type": "string",
                                                    "example": "7 days"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/dashboard/overdue-orders": {
            "get": {
                "tags": [
                    "Dashboard"
                ],
                "summary": "Get pending or in-progress orders that have passed their due date",
                "operationId": "31154c65066b32ca836ea09c03c03b93",
                "responses": {
                    "200": {
                        "description": "Overdue orders retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Overdue orders retrieved successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "orders": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "example": 3
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/dashboard/revenue-analytics": {
            "get": {
                "tags": [
                    "Dashboard"
                ],
                "summary": "Get revenue analytics. Monthly period returns daily breakdown; yearly period returns monthly breakdown.",
                "operationId": "41d86f115fa00a20f70c42c239003399",
                "parameters": [
                    {
                        "name": "period",
                        "in": "query",
                        "description": "Time period: 'month' (daily breakdown of current month) or 'year' (monthly breakdown of current year)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "month",
                            "enum": [
                                "month",
                                "year"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Revenue analytics retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Revenue analytics retrieved successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "period": {
                                                    "type": "string",
                                                    "example": "month"
                                                },
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "day": {
                                                                "description": "Day of month (only present when period=month)",
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "date": {
                                                                "description": "Date (only present when period=month)",
                                                                "type": "string",
                                                                "format": "date",
                                                                "example": "2024-04-01"
                                                            },
                                                            "month": {
                                                                "description": "Month abbreviation (only present when period=year)",
                                                                "type": "string",
                                                                "example": "Jan"
                                                            },
                                                            "revenue": {
                                                                "description": "Revenue keyed by currency code",
                                                                "type": "object",
                                                                "example": {
                                                                    "NGN": 1200
                                                                }
                                                            },
                                                            "payments": {
                                                                "description": "Payments keyed by currency code",
                                                                "type": "object",
                                                                "example": {
                                                                    "NGN": 900
                                                                }
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/dashboard/top-clients": {
            "get": {
                "tags": [
                    "Dashboard"
                ],
                "summary": "Get top clients ranked by total amount spent",
                "operationId": "0f03e12c456061d3b424fd8fb8a5cf85",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of clients to return (default 10)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Top clients retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Top clients retrieved successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "clients": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "string",
                                                                "format": "uuid"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "email": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "phone": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "total_orders": {
                                                                "type": "integer",
                                                                "example": 8
                                                            },
                                                            "total_spent": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 12500
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "example": 10
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/clients/{client}/measurements": {
            "get": {
                "tags": [
                    "Measurements"
                ],
                "summary": "Get a client's measurements",
                "operationId": "70270dd88b02794e897d58d54ccf48bc",
                "parameters": [
                    {
                        "name": "client",
                        "in": "path",
                        "description": "Client UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "format": "uuid"
                                                    },
                                                    "client_id": {
                                                        "type": "string",
                                                        "format": "uuid"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Pants Measurement"
                                                    },
                                                    "fields": {
                                                        "type": "object",
                                                        "example": {
                                                            "waist": "32",
                                                            "inseam": "30",
                                                            "thigh": "22"
                                                        }
                                                    },
                                                    "unit": {
                                                        "type": "string",
                                                        "enum": [
                                                            "cm",
                                                            "inches"
                                                        ]
                                                    },
                                                    "notes": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "is_default": {
                                                        "type": "boolean"
                                                    },
                                                    "measurement_date": {
                                                        "type": "string",
                                                        "format": "date"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Client not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Measurements"
                ],
                "summary": "Create new measurements for a client",
                "operationId": "b57b1cec77bb67f5d07f39c75a13d7b2",
                "parameters": [
                    {
                        "name": "client",
                        "in": "path",
                        "description": "Client UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "fields"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Pants Measurement",
                                        "maxLength": 255
                                    },
                                    "fields": {
                                        "description": "Key-value pairs of body parts and their measurements",
                                        "minProperties": 1,
                                        "type": "object",
                                        "example": {
                                            "waist": "32",
                                            "inseam": "30",
                                            "thigh": "22"
                                        }
                                    },
                                    "unit": {
                                        "type": "string",
                                        "example": "inches",
                                        "enum": [
                                            "cm",
                                            "inches"
                                        ]
                                    },
                                    "notes": {
                                        "type": "string",
                                        "example": "Client prefers a loose fit",
                                        "nullable": true,
                                        "maxLength": 1000
                                    },
                                    "measurement_date": {
                                        "description": "Cannot be in the future",
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-04-10"
                                    },
                                    "is_default": {
                                        "description": "Set as default measurement for this client",
                                        "type": "boolean",
                                        "example": false,
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Measurement profile created successfully"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Client not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/clients/{client}/measurements/{measurement}": {
            "get": {
                "tags": [
                    "Measurements"
                ],
                "summary": "Get measurement details",
                "operationId": "413179556c1eda41d13321e17e3691ee",
                "parameters": [
                    {
                        "name": "client",
                        "in": "path",
                        "description": "Client UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "measurement",
                        "in": "path",
                        "description": "Measurement UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Measurement profile retrieved successfully"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Measurement not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Measurements"
                ],
                "summary": "Delete a measurement profile",
                "operationId": "cfbf2519965b5cab7d6bf3eecdd1ce85",
                "parameters": [
                    {
                        "name": "client",
                        "in": "path",
                        "description": "Client UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "measurement",
                        "in": "path",
                        "description": "Measurement UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Measurement profile deleted successfully"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Measurement not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Measurements"
                ],
                "summary": "Update existing measurements",
                "operationId": "88ee004980ffee7c52fbbaa1abab527d",
                "parameters": [
                    {
                        "name": "client",
                        "in": "path",
                        "description": "Client UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "measurement",
                        "in": "path",
                        "description": "Measurement UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Pants Measurement",
                                        "maxLength": 255
                                    },
                                    "fields": {
                                        "description": "Pass null for a key to remove it",
                                        "minProperties": 1,
                                        "type": "object",
                                        "example": {
                                            "waist": "34",
                                            "inseam": "30"
                                        }
                                    },
                                    "unit": {
                                        "type": "string",
                                        "example": "inches",
                                        "enum": [
                                            "cm",
                                            "inches"
                                        ]
                                    },
                                    "notes": {
                                        "type": "string",
                                        "nullable": true,
                                        "maxLength": 1000
                                    },
                                    "measurement_date": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "is_default": {
                                        "type": "boolean",
                                        "example": false,
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Measurement profile updated successfully"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Measurement not found"
                    },
                    "422": {
                        "description": "Validation error including attempt to remove all measurements"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/clients/{client}/measurements/{measurement}/set-default": {
            "patch": {
                "tags": [
                    "Measurements"
                ],
                "summary": "Set a measurement profile as the client's default",
                "operationId": "56f13e34f1ce9cad47eba2db3c6f86c0",
                "parameters": [
                    {
                        "name": "client",
                        "in": "path",
                        "description": "Client UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "measurement",
                        "in": "path",
                        "description": "Measurement UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Default measurement updated successfully"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Measurement not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/clients/{client}/orders": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "Get a client's orders",
                "operationId": "7e849b0936bdfca2e8a5eddcdf1f07eb",
                "parameters": [
                    {
                        "name": "client",
                        "in": "path",
                        "description": "Client UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by order status",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "pending_payment",
                                "in_progress",
                                "completed",
                                "delivered",
                                "cancelled"
                            ]
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search by order number or style description",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "Filter orders created on or after date",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "end_date",
                        "in": "query",
[...]
